*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#h:hover{
    transform: scale(1.2);
}

input:focus{
    background-color: lightcoral;
    color: whitesmoke;
}

li::before{
    content: ">";
    background-color: aquamarine;
}

li::after{
    content: "<";
    background-color: aquamarine;
}

#tst{
    background-color: whitesmoke;
    color: black;
    /* transition: all ease-in-out 4s; */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}

#tst:hover{
    background-color: black;
    color: whitesmoke;
}

.box{
    width: 15vw;
    height: 30vh;
    background-color: red;
    /* transform: translate(30vw,30vw); */
    /* transform: rotate(30deg); */
    /* transform: scale(0.3); */
    transform: skew(30deg,10deg);
}

#main{
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: grid;
    /* grid-template-columns: 10vw 10vw 10vw 10vw; */
    /* grid-template-columns: 20vw 20vw; */
    grid-template-columns: 200px 200px;
    /* grid-template-rows: 10vw 10vw; */
    grid-template-rows: 200px 200px;
    /* align-items: center; */
    /* justify-items: center; */
    /* yeh uss block kae center mae aagaye */
    justify-content: space-evenly ;
    align-content: space-evenly;
}

.elem{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border: 2px solid black;
}

#nav{
    display: grid;
    background-color: red;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-template-rows: 10vh;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
}

#nav h1{
    justify-self: flex-start;
}
